.App {
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 768px;
  margin: 0 auto;
  background: #e4e6ee;
}

.product-card {
  padding: 10px;
  margin: 20px;
  /* color: white;
  background: #242526; */
  border-radius: 10px;
  box-shadow: 20px 20px 50px white;
}

.cart-nav {
  padding: 20px;
  width: 728px;
  margin: 0 auto;
  background-color: steelblue;
}

.cart-nav button {
  padding: 10px;
  border-radius: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
